asgiref==3.8.1
certifi==2024.6.2
channels==4.1.0
distlib==0.3.8
Django==4.2.13
django-cors-headers==4.3.1
filelock==3.14.0
pillow==10.3.0
pipenv==2023.12.1
platformdirs==4.2.2
psycopg2-binary==2.9.9
sqlparse==0.5.0
typing-extensions==4.12.1
virtualenv==20.26.2
daphne==3.1.2
channels==3.0.4
rest_framework==3.13.1
channels_redis==3.3.1
rest_framework_simplejwt==5.0.0