.Leaderboard-container{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(2.5rem, -2.762vw + 3.018rem, 1.25rem);
}

.LeaderBoard-header {
    padding-top: 40px;
    font-size: clamp(2.25rem, 1.657vw + 1.939rem, 3rem);
}

.full-board-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.leaderboard_search {
    /* width: calc(clamp(22.313rem, 21.514vw + 17.512rem, 36.875rem) - 40px); */
    width: 100%;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.leaderboard_search > select {
    background-color: hsla(0, 0%, 13%, 0.8);
    backdrop-filter: blur(47px);
    border-radius: 15px;
    border: none;
    outline: none;
    color: #B0B0B0;
    padding: 10px;
    cursor: pointer;
}


.Leaderboard-search-container {
    width: 70%;
    height: 100%;
    position: relative;
}

.Leaderboard-search-container > input {
    background-color: hsla(0, 0%, 13%, 0.8);
    backdrop-filter: blur(47px);
    border-radius: 15px;
    border: none;
    outline: none;
    color: #B0B0B0;
    padding: 15px 20px;
    width: 100%;
    height: 100%;
}

.searchButton {
    position: absolute;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 20px;
    width: 20px;
}

.Leaderboard-sort {
    height: 100%;
    width: 28%;
    outline: none;
    appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201000%201000%22%20enable-background%3D%22new%200%200%201000%201000%22%20xml%3Aspace%3D%22preserve%22%20fill%3D%22%23828282%22%3E%3Cmetadata%3E%20Svg%20Vector%20Icons%20%3A%20http%3A//www.onlinewebfonts.com/icon%20%3C/metadata%3E%3Cg%3E%3Cpath%20d%3D%22M965.1%2C360.2l-400%2C401c-17.9%2C17.9-41.7%2C25.4-65.2%2C24c-23.4%2C1.4-47.2-6.1-65.1-24l-400-401c-33.2-33.3-33.2-87.4%2C0-120.7c33.2-33.3%2C87.1-33.3%2C120.4%2C0L500%2C585.2l344.8-345.7c33.2-33.3%2C87.1-33.3%2C120.4%2C0S998.3%2C326.9%2C965.1%2C360.2z%22/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1em;
    background-position-x: 90%;
    background-position-y: 50%;
}

.Leaderboard-users-list {
    width: clamp(40rem, 10.221vw + 38.084rem, 44.625rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsla(0, 0%, 13%, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(47px);
    -webkit-backdrop-filter: blur(47px);
    border: 1px solid #2222224d;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 5px;
}

.item-container {
    overflow: scroll;
    display: flex;
    gap: 10px;
    width: 100%;
    height: clamp(18.75rem, 13.812vh + 16.16rem, 25rem);
    flex-direction: column;
    position: relative;
}
/* .item-container > :first-child {
} */

.Leaderboard-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(1.25rem, 2.762vw + 0.732rem, 2.5rem);
    gap: 10px;
    width: 100%;
    height: 100%;
}

.Leaderboard-list-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.4em;
    background-color: #222222;
    border-radius: 10px;
    padding: 5px;
    height: fit-content;
}


.Leaderboard-list > li {
    background-color: inherit;
    box-shadow: none;
}

.Leaderboard-list-item div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.LeaderBoard-LinkIcon {
    height: clamp(0.625rem, 0.414vw + 0.547rem, 0.813rem);
    fill: rgb(255, 255, 255, 0.8);
    transition: all 0.4s ease-in-out;
}

.Leaderboard-list-item-user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

.Leaderboard-list-item-user svg {
    position: absolute;
    height: 30%;
    width: auto;
    --clamped-value: clamp(1.875rem, 1.381vw + 1.616rem, 2.5rem);
    left: calc((100% - var(--clamped-value)) / 2 + var(--clamped-value) - 10px);
    top: -10%;
}

.Leaderboard-list-item-user img {
    width: clamp(1.875rem, 1.381vw + 1.616rem, 2.5rem);
    height: auto;
    border-radius: 50%;
    border: 2px solid #636262;
}

.LeaderBoard-LinkIcon:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.8));
}

.Leaderboard-list-item-link a {
    color: #FFFFFF;
    height: fit-content;
    width: fit-content;
    display: flex;
}

.Leaderboard-list-item-user,
.Leaderboard-list-item-name,
.Leaderboard-list-item-rank,
.Leaderboard-list-item-score,
.Leaderboard-list-item-wins {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    span {
        line-height: 1;
        height: 15px;
    }
}

@media (max-width: 768px) {
    .leaderboard_search {
        justify-content: center;
    }
    .Leaderboard-sort{
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .Leaderboard-users-list {
        width: 100%;
        border: unset;
        background-color: unset;
        background-image: linear-gradient(to bottom ,hsla(0, 0%, 13%, 0.8), black);
    }

    .full-board-list {
        width: 100%;
    }

    .Leaderboard-search-container {
        width: 80%;
    }

    .LeaderBoard_header {
        padding-top: 0px;
    }

    .leaderboard_search {
        width: 100%;
    }

    .Leaderboard-list-item-user img {
        border: 1.5px solid #636262;
    }

    .Leaderboard-list-item {
        font-size: 10px;
        span {
            line-height: 1;
            height: 10px;
        }
    }

    /* .Leaderboard-list-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    /* .Leaderboard-list-item-link a svg {
        border: solid;
    } */
}