/* Josefin Sans - Regular */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./static/JosefinSans-Regular.ttf') format('truetype');
}

/* Josefin Sans - Bold */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./static/JosefinSans-Bold.ttf') format('truetype');
}

/* Josefin Sans - Light */
@font-face {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: 300;
  src: url('./static/JosefinSans-Light.ttf') format('truetype');
}

/* Home.css */

/* Universal reset and basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + .5em);
  user-select: none;
}

img,
svg {
  user-select: none;
}

.home-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  transition: all 0.8s ease;
}


/* Welcome section */
.home-dive-welcome {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-image: url('./welcome_background.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  border-radius: 30px;
  box-shadow: rgba(244, 244, 244, 0.35) 0px 0px clamp(1.25rem, 0.9925rem + 1.2876vw, 3.125rem) 0px;
  height: 500px;
  width: 50vw;
  flex-shrink: 0;
  transition: all 0.8s ease;
}

.home-div-welcome-text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.2rem;
  /* border: solid 1px white; */
}

.home-dive-welcome h2 {
  font-family: 'Josefin Sans';
  font-weight: 700;
  font-size: clamp(2.1875rem, 1.372rem + 4.0773vw, 8.125rem);
}

.home-dive-welcome p {
  margin-bottom: auto;
  font-size: clamp(0.75rem, 0.5354rem + 1.073vw, 2.3125rem);
  font-weight: 400;
  font-family: 'Josefin Sans';
  user-select: none;
  margin-left: 12px;

}

/* Button styling */
.home-dive-welcome-btn {
  appearance: button;
  background-color: transparent;
  border: clamp(0.0625rem, 0.0539rem + 0.0429vw, 0.125rem) solid #636262;
  border-radius: clamp(0.5rem, 0.4313rem + 0.3433vw, 1rem);
  box-sizing: border-box;
  color: #D4D4D4;
  cursor: pointer;
  display: inline-block;
  font-size: clamp(0.75rem, 0.4238rem + 1.6309vw, 3.125rem);
  transition: all 0.3s ease;
  font-weight: 600;
  width: clamp(6.875rem, 4.5574rem + 11.588vw, 23.75rem);
  height: 20%;
  margin-left: 12px;
}

.home-dive-welcome-btn:hover {
  background-color: #C4C4C4;
  color: black;
  transform: translate(5px, -5px);
  box-shadow: -5px 5px 0 #C4C4C4;
}

.home-dive-welcome-btn:active {
  background-color: #C4C4C4;
  transform: translate(0, 0);
  box-shadow: none;
}

/* Stats section */
.stats {
  display: flex;
  gap: 1.2em;
  flex-direction: row;
  height: 500px;
  width: 50vw;
  transition: all 0.8s ease;
}

.last-matches {
  width: 40%;
  height: 100%;
  background: rgba(34, 34, 34, 0.46);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(34, 34, 34, 0.3);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 5px;
}

.matches-container {
  height: 100%;
  overflow-y: auto;
  /* Ensure scrollbars appear */
  padding: 1.2rem;
  border-radius: 4px;
}

.matches-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.matches-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #222222;
}

.matches-list-item-tournament {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-bottom: 2em;
  border-radius: 10px;
  background-color: #222222;
}

.matches-list-item-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6%;
  font-size: clamp(0.875rem, 0.7548rem + 0.6009vw, 1.75rem);
  /* border: solid; */
}

.matches-list-item-user img {
  width: clamp(2.5rem, 2.0708rem + 2.1459vw, 5.625rem);
  height: clamp(2.5rem, 2.0708rem + 2.1459vw, 5.625rem);
  border-radius: 50%;
  border: clamp(0.0625rem, 0.0453rem + 0.0858vw, 0.1875rem) solid #636262;
}

.matches-list-item-user-tournament-icon {
  position: absolute;
  top: 0%;
  left: 56%;
  width: 38px;
  transform: rotate(7deg);
}

.matches-list-item-user p {

  width: 6rem;
  overflow: hidden;
  /* Hide any overflowing text */
  white-space: nowrap;
  /* Prevent text from wrapping to a new line */
  text-overflow: ellipsis;
  font-size: clamp(0.75rem, 0.6985rem + 0.2575vw, 1.125rem);
}

.matches-list-item-user {
  gap: 1em;
}

.matches-list-item-user-tournament img {
  width: clamp(2.5rem, 2.0708rem + 2.1459vw, 5.625rem);
  height: clamp(2.5rem, 2.0708rem + 2.1459vw, 5.625rem);
  border-radius: 50%;
  border: clamp(0.0625rem, 0.0453rem + 0.0858vw, 0.1875rem) solid #636262;
}

.matches-list-item-user-tournament p {
  width: clamp(2.5rem, 2.0708rem + 2.1459vw, 5.625rem);
  overflow: hidden;
  /* Hide any overflowing text */
  white-space: nowrap;
  /* Prevent text from wrapping to a new line */
  text-overflow: ellipsis;
  font-size: clamp(0.75rem, 0.6985rem + 0.2575vw, 1.125rem);
  /* border: solid; */
  text-align: center;
}

.matches-list-item-user-tournament {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  padding: 3%;
  padding-bottom: 0;
}

.match-item {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: solid;
}

.matches-list-item:last-of-type {
  margin-bottom: 0;
}


.last-matches-header h2 {
  font-size: clamp(1.5625rem, 1.408rem + 0.7725vw, 2.6875rem);
}

.last-matches-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1.2em;
  margin-right: 1.2rem;
  margin-bottom: 0;
  height: 20%;
  width: auto;
  user-select: none;
}

.last-matches-stats {
  height: 75%;
  overflow-y: auto;
  /* Ensure scrollbars appear */
}

/* Scrollbar styles for Firefox */
.last-matches-stats {
  scrollbar-width: thin;
  scrollbar-color: #B0B0B0 transparent;
}

.last-matches-stats::-webkit-scrollbar {
  width: 12px;
}

.last-matches-stats::-webkit-scrollbar-track {
  background: rgba(34, 34, 34, 0.46);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(34, 34, 34, 0.3);
}

.last-matches-stats::-webkit-scrollbar-thumb {
  background-color: #B0B0B0;
  border-radius: 16px;
  border: 3px solid transparent;
}

.last-matches-header div a {
  color: rgba(255, 255, 255, 0.25);
  font-size: clamp(0.75rem, 0.6985rem + 0.2575vw, 1.125rem);
}



@media (min-width: 1440px) and (max-width: 1921px) {
  .home-dive-welcome {
    height: 400px;
    width: 60vw;
  }


  .stats {
    height: 400px;
    width: 60vw;
  }

}

/* Large Devices (Desktops) */
@media (min-width: 1024px) and (max-width: 1439px) {
  .home-dive-welcome {
    height: 400px;
    width: 90vw;
  }

  .stats {
    height: 400px;
    width: 90vw;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .home-dive-welcome {
    height: 350px;
    width: 90vw;
  }

  .stats {
    display: flex;
    gap: 2em;
    flex-direction: column;
    height: 750px;
    width: 90vw;
  }


  .last-matches {
    width: 100%;
    height: 50%;
  }

  .last-matches-stats {
    height: 80%;
  }

  .matches-list-item {
    padding: 0.8rem;
  }

  .matches-container {
    overflow-y: scroll;
  }

  .matches-list-item-user {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .matches-list-item-tournament {
    padding: 0.8rem;
    margin-bottom: 0.5em;

  }

  .matches-list-item-user-tournament {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .matches-list-item-user-tournament p {}

  .matches-list-item-user-tournament-icon {
    position: absolute;
    transform: rotate(-39.5deg);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .matches-list-item-user:last-of-type {
    flex-direction: row-reverse;
  }

  .matches-list-item {
    margin-bottom: 0.5em;
  }


}

@media (min-width: 320px) and (max-width: 767px) {
  .home-dive-welcome {
    margin-top: 60px;
    height: 250px;
    width: 95vw;
  }

  .stats {
    display: flex;
    gap: 3em;
    flex-direction: column;
    height: 700px;
    width: 95vw;
  }

  .last-matches {
    width: 100%;
    height: 50%;
  }

  .last-matches-stats {
    height: 80%;
  }

  .matches-list-item {
    padding: 0.7rem;
  }

  .matches-list-item-tournament {
    padding: 0.7rem;
    margin-bottom: 0.5em;

  }

  .matches-list-item-user-tournament {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .matches-list-item-user-tournament-icon {
    position: absolute;
    transform: rotate(-39.5deg);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .matches-container {
    overflow-y: scroll;
  }

  .matches-list-item-user {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .matches-list-item-user:last-of-type {
    flex-direction: row-reverse;
  }

  .matches-list-item {
    margin-bottom: 0.5em;
  }

}

@media screen and (max-width: 319px) {
  * {
    display: none;
  }

}