.top-5 {
    width: 60%;
    height: 100%;
    /* From https://css.glass */
    background: rgba(34, 34, 34, 0.46);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid #2222224d;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px 5px;
}

.top-5-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.2em;
    margin-right: 1.2rem;
    margin-bottom: 0;
    height: 20%;
    width: auto;
}

.top-5-stats {
    height: 75%;
    width: 99%;
}

.top-5-header div a {
    color: rgba(255, 255, 255, 0.25);
    font-size: 18px;
}

.top-5-header h2 {
    font-size: 2em;
}

.top-5-container {
    width: 100%;
    height: 100%;
}

.top-5-list {
    display: flex;
    flex-direction: column;
    gap: 3%;
    height: 100%;
    width: 100%;
}

.top-5-list-item {
    width: 96%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.4em;
    margin-left: 1.2em;
}


.top-5-list-item:first-of-type {
    background-color: inherit;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 5%;
}

.top-5-list-item div {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: center;
}


.size-6 {
    width: 25%;
    height: auto;
}

.top-5-list-item {
    background-color: #222222;
    border-radius: 10px;
    padding: 0.3em;
    height: 16%;
}


.top-5-list-item-user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.top-5-list-item-user img {
    width: 2.9rem;
    height: auto;
    border-radius: 50%;
    border: 2px solid #636262;
}

.size-6:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.8));
}

.top-5-list-item-link a {
    text-decoration: none;
    color: #FFFFFF;
}

.top-5-list-item-link {
    margin-top: 0.3rem;
}


.top-5-list-item-user:first-child {
    margin-left: 0.5em;
}

.top-5-list-item-user,
.top-5-list-item-name,
.top-5-list-item-rank,
.top-5-list-item-score,
.top-5-list-item-wins {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1440px) and (max-width: 1919px) {
    .top-5-list-item-user img {
        width: 2.5rem;
        height: auto;
        border: 1.5px solid #636262;
    }

    .top-5-list-item {
        margin-right: 2rem;
    }

    .top-5-list-item-link {
        margin-top: 0.3rem;
    }

    .top-5-header div a {
        font-size: 16px;
    }
}

@media (min-width: 1024px) and (max-width: 1439px) {
    .top-5-list-item-user img {
        width: 2.5rem;
        height: auto;
        border: 1.5px solid #636262;
    }

    .top-5-list-item {
        font-size: 0.8rem;
    }

    .top-5-header div a {
        font-size: 14px;
    }

    .top-5-header h2 {
        font-size: 1.6em;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .top-5 {
        width: 100%;
        height: 50%;
    }

    .top-5-header h2 {
        font-size: 1.6em;
        margin-left: 0.1rem;
    }

    .top-5-list-item-user img {
        width: 2rem;
        height: auto;
        border: 1.5px solid #636262;
    }

    .top-5-list-item {
        font-size: 0.8rem;
    }

    .top-5-header div a {
        font-size: 15px;
    }

    .top-5-list-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-5-list-item-link a svg {
        width: 1rem;
    }

    .top-5-list {
        margin-left: 0.2rem;
        padding-right: 0.2rem;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .top-5 {
        width: 100%;
        height: 50%;
    }

    .top-5-header h2 {
        font-size: 1.6em;
        margin-left: 0.1rem;
    }

    .top-5-list-item-user img {
        width: 2rem;
        height: auto;
        border: 1.5px solid #636262;
    }

    .top-5-list-item {
        font-size: 0.8rem;
    }

    .top-5-header div a {
        font-size: 15px;
    }

    .top-5-list-item-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .top-5-list-item-link a svg {
        width: 1rem;
    }

    .top-5-list {
        margin-left: 0.2rem;
        padding-right: 0.2rem;
    }
}