* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.page-container {
    overflow-x: hidden;
}


.menu-top-bar {
    width: 100%;
    height: 60px;
    display: flex;
    position: fixed;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 7px;
}

.no-scroll {
    overflow: hidden;
}

.menu-toggle {
    font-size: 34px;
    cursor: pointer;
    font-family: "Georama", sans-serif;
    font-weight: 300;
}

.menu-toggle:hover {
    color: #f1f1f1;
}

.humburger-menu {
    display: none;
    z-index: 1001;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    z-index: 900;
    animation: fade-in 1s ease-in;

}


.menu {
    position: fixed;
    min-width: 300px;
    top: 0;
    left: -100%;
    width: 15%;
    height: 100%;
    color: white;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 0 20px 20px 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    -webkit-backdrop-filter: blur(9.1px);
    border: 1px solid rgba(37, 37, 37, 0.36);
    transition: all 0.9s ease-in-out;
}

.menu.open {
    left: 0;
}

.menu ul {
    list-style: none;
    padding: 20px;
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu li {
    margin: 20px 0;
    margin-left: 16px;
    font-size: 1.7em;
    transition: all 0.3s ease-in-out;
}

.menu li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.menu li:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.close-menu {
    position: absolute;
    right: 6%;
    bottom: 1%;
    font-size: 1.7em;
    transition: all 0.9s ease-in-out;
    cursor: pointer;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background-color: #000;
    color: #fff;
    border: 4px solid #606060;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100px);
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    z-index: 1000;
}

.scroll-to-top.show {
    opacity: 0.7;
    transform: translateY(0);
    visibility: visible;
}

.scroll-to-top:hover {
    opacity: 1.4;
}

/* .black-hole-circle {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    box-shadow:
        0 0 500px 250px rgba(0, 0, 0, 0.1),
        0 0 400px 200px rgba(255, 255, 255, 0.2),
        inset 0 0 300px 150px rgba(255, 255, 255, 0.18);
    z-index: 0;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */





@media (min-width: 1440px) and (max-width: 1919px) {}

@media (min-width: 1024px) and (max-width: 1439px) {}


@media (min-width: 768px) and (max-width: 1023px) {
    .menu-toggle {
        display: none;
    }

    .menu-top-bar {
        padding: 0;
        z-index: 1001;
    }

    .logo {
        margin-left: 20%;
    }

    .humburger-menu {
        display: block;
        z-index: 9999;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #ffffff;
        stroke-width: 5.5;
        stroke-linecap: round;
    }

    .ham1 .top {
        stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }

    .ham1.active .top {
        stroke-dashoffset: -98px;
    }

    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }

    .menu {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        border: 1px solid rgba(37, 37, 37, 0.36);
        transition: all 0.9s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1000;
        align-items: center;
    }

    .menu ul {
        margin: 0;
    }

    .close-menu {
        display: none;
    }

    .scroll-to-top {
        display: none;
    }

    .overlay {
        display: none;
    }



}

@media (min-width: 320px) and (max-width: 767px) {
    .menu-toggle {
        display: none;
    }

    .menu-top-bar {
        padding: 0;
        z-index: 1001;
    }

    .logo {
        margin-left: 20%;
    }

    .humburger-menu {
        display: block;
        z-index: 9999;
    }

    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }

    .hamRotate180.active {
        transform: rotate(180deg);
    }

    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #ffffff;
        stroke-width: 5.5;
        stroke-linecap: round;
    }

    .ham1 .top {
        stroke-dasharray: 40 139;
    }

    .ham1 .bottom {
        stroke-dasharray: 40 180;
    }

    .ham1.active .top {
        stroke-dashoffset: -98px;
    }

    .ham1.active .bottom {
        stroke-dashoffset: -138px;
    }

    .menu {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        border-radius: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9.1px);
        -webkit-backdrop-filter: blur(9.1px);
        border: 1px solid rgba(37, 37, 37, 0.36);
        transition: all 0.9s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 1000;
        align-items: center;
    }

    .menu ul {
        margin: 0;
    }

    .close-menu {
        display: none;
    }

    .scroll-to-top {
        display: none;
    }

    .overlay {
        display: none;
    }

}