.landing_section_3 {
    height: 100vh;
    width: 100vw;
    background-image: url("./../images/section3_background1.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing_section_3-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 80%;
    border: 1px solid white;
    z-index: 2;
    gap: 1rem;
}

.landing_section_3-container-form {
    width: 40%;
    height: 90%;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.63);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.landing_section_3-container-table-animation {
    width: 50%;
    height: auto;
    border: 1px solid red;
}

.table {
    height: 80%;
    width: 80%;
    transform: translateX(-50%);
    animation: breathe 1.8s infinite;
}

@keyframes breathe {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
        /* Adjust the vertical movement */
    }

    100% {
        transform: translateY(0);
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}