
.Msg {
    position: relative;
    display: grid;
    grid-template-rows: 86px 90% 60px;
    margin-bottom: 20px;
    background-color: transparent;
    font-family: 'URW Geometric';
    margin-right: 34px;
    font-weight: bold;
}

.empty-conv{
    color: #FFFFFF50;
    display: flex;
    text-align: center;
    height: calc(100vh - 275px);
    align-items: end;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 40px;
}

.Msg  .empty{
    color: #FFFFFF50;
    display: flex;
    text-align: center;
    height: calc(100vh - 275px);
    align-items: center;
    justify-content: center;
    margin-top: 110px;
}
.hide{
    display: none;
}

.chat_top_bar .icon_name h3{
    color: #B0B0B0;
    font-weight: 700;
    font-size: 20px;
    padding: 0;
    margin-top: 6px;
}


.chat_top_bar .icon_name img{
    height: 60px;
    width: auto;
    border: 3px solid #636262;
    background-size: cover;
    border-radius: 80px;
    padding: 0;
    margin: 0;
}

.chat_top_bar .icon_name{
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.chat_top_bar .set{
    position: absolute;
    right: 20px;
    cursor: pointer;
}




.chat_top_bar{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    background-color: #222222;
    box-sizing: border-box;
    padding: 13px 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    height: 86px;
}



.message_bar .search-input1{
    width: 95.5%;
    resize: none;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
    color: #B0B0B0;
    background-color: #1B1B1B;
    border-radius: 10px;
    padding-left: 10px;
}

.message_bar .search-container1 textarea:focus,
.message_bar .search-container1 textarea:active{
      width: 95.5%;
      outline: none;
      animation: none !important;  /* Remove any animations */
      transition: none;
      /* border-color: #66afe9;  */
      /* box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); */
}

.message_bar  button:hover{
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 5px rgba(255,255,255,0.75));
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px ;
}
.message_bar  button{
    transition: filter 0.3s ease;
    display: flex;
    position: absolute;
    color: #222222;
    background-color: #222222;
    all: unset;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 5px ;
    align-items: center;
}
.message_bar .search-container1{
    position: relative;
    display: flex;
    flex-direction: row;
    animation: none;
    gap: 14px;
    /* justify-content: start; */
    align-items: center;
    width: 100%;
}

.message_bar{
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background-color: #222222;
    gap: 14px;
    box-sizing: border-box;
    padding: 10px 16px;
    height: 60px;
    z-index: 2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
    /* display: none; */
}

.conversation::-webkit-scrollbar{
    display: none;
}

.Msg .conversation{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 90%;
    top: 60px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    gap: 10px;
    padding-top: 25px;
    padding-bottom: 20px;
}