.sender{
    color: #FFFFFF80;
    position: relative;
    display: flex;
    justify-content: end;
}
.reciver{
    color: #FFFFFF80;
    position: relative;
}

.msg_box{
    display: flex;
    padding: 10px 15px;
    height: fit-content;
    box-sizing: border-box;
    justify-content: center;
    width: fit-content;
    align-items: center;
    text-align: start;
    background-color: #222222;
    max-width: 50%;
    border-style: hidden;
    border-radius: 10px;
}
