.profile_user{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 150px;
    /* border: red solid; */
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.userinfo{
    height: 370px;
    position: relative;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-top: 160px;
    /* border: red solid; */
    padding-bottom: 45px;
    background-color: #222222cc;
    backdrop-filter: blur(4px);
    width: 900px;
    z-index: 0;
}

.userinfo::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    right: 308px;
    border-radius: 30px 0 0 0;
    box-shadow: -7px -7px 0 7px rgb(0, 0, 0);
    top: -0px;
    /* border: solid red; */
    z-index: 1;
}

.userinfo::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 308px;
    border-radius: 0 30px 0 0;
    box-shadow: 7px -7px 0 7px rgb(0, 0, 0);
    top: -0px;
    /* border: solid red; */
    z-index: 1;
}


.avatar-profile{
    position: absolute;
    width: 240px;
    height: 240px;
    background: black;
    border-radius: 50%;
    top:  calc(255px - (240px / 2));
    z-index: 1;
    /* border: red solid; */
    overflow: hidden;         
    display: flex;          
    align-items: center;     
    justify-content: center;  
}


.avatar-profile img{
    border: #636262 solid;
    width: 178px;
    height: 178px;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 40px rgb(189, 189, 189, 0.25);
    border-radius: 100%;
    object-fit: cover;
}

.analytics-achievment{
    height: 350px;
    display: flex;
    /* grid-template-columns: 2fr 1fr; */
    gap: 10px;
    width: 900px;
}



.analytics-achievment .achievment{
    background-color: #222222cc;
    border-radius: 30px;
    /* width: 304px; */
    flex: 1 1;
    flex-direction: column;
    backdrop-filter: blur(10px);
    /* padding: 24px; */
    padding-top: 34px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.analytics-achievment .achievment h1{
    align-self: flex-start;
    line-height: 1;

    padding-left: 34px;
}
.analytics-achievment .achievment .elements{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    justify-self: end;
    margin: 0;
    padding: 0 34px;
    padding-top: 10px;
    margin-bottom: 34px;
    top: 0px;
    overflow: scroll;
    overflow-x: hidden;
    /* border: red solid; */
}

.analytics-achievment .achievment .elements .element {
    position: relative;
    width: 100%;
    height: 55px;

}
.analytics-achievment .achievment .elements .element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.username{
    height: 32px;
    line-height: normal;
}

.name-status{
    height: 32px;
    /* width: 135px; */
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.online{
    height: 10px;
    width: 10px;
}

.bio{
    /* border: red solid; */
    width: 50%;
    height: fit-content;
}

.userinfo p{
    color: #666666;
}

.win-rank-score{ 
    

    position: relative;
    width: 60%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request{
    background-color: transparent;
    border: red solid;
}

.ach-info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 100%;
    height: 100%;
}

.ach-joker .ach-info h1{
    padding: 0px;
    color: #9EF08F;
}

.ach-thunder_strike .ach-info h1{
    padding: 0px;
    color: #B0D2D2;
}

.ach-the_emperor .ach-info h1{
    padding: 0px;
    color: #D8D8D8;
}

.ach-maestro .ach-info h1{
    padding: 0px;
    color: #FBD9AB;
}

.ach-downkeeper .ach-info h1{
    padding: 0px;
    color: #253743;
}

.ach-name{
    font-size: 20px;
    font-weight: 900;
    line-height: 1;
}

.achivement{
    position: relative;
    background-size: cover;
    display: flex;
    gap: 25px;
    flex-direction: row;
    align-items: center;
    /* width: 238px; */
    height: 55px;
    padding: 5px;
    padding-left: 9px;
    border-radius: 9px;
    z-index: 0;

}


.ach-maestro{
    background-image: url('./background/bg_maestro.png');
    box-shadow: 0px 0px 20px #A32B2875;
    
}

.ach-downkeeper{
    background-image: url('./background/bg_downkeeper.png');
    /* box-shadow: 0px 0px 20px maestro
maestro#A32B2850; */
    
}

.ach-joker{
    background-image: url('./background/bg_joker.png');
    box-shadow: 0px 0px 20px #007A0275;
    z-index: 10;
}

.ach-the_emperor{
    background-image: url('./background/bg_the\ 3.png');
    box-shadow: 0px 0px 20px #A7A7A775;
}

.ach-thunder_strike{
    background-image: url('./background/bg_thunder.png');
    box-shadow: 0px 0px 20px #49A7C075;
}

.ach-joker .joker_icon{
    height: 100%;
    width: 55px;
    border-radius: 50%;
    text-shadow: 0px 0px 20px #007A0275;
}

.ach-maestro .maestro_icon{
    height: 100%;
    border-radius: 50%;
    text-shadow: 0px 0px 20px #A32B2850;
}

.ach-the_emperor .the_emperor_icon{
    height: 100%;
    border-radius: 50%;
    text-shadow: 0px 0px 20px #A7A7A7;
}

.ach-thunder_strike .thunder_strike_icon{
    height: 100%;
    border-radius: 50%;
    text-shadow: 0px 0px 20px #49A7C0;
}


.ach-downkeeper .downkeeper_icon{
    height: 100%;
    border-radius: 50%;
    /* text-shadow: 0px 0px 20px #A32B2850; */
}

.ach-icon >svg{
    width: auto;
    height: 100%;
    z-index: 1;
}

.ach-info > p{
    text-align: start;
    color: #FFFFFF50;
    line-height: 1;
    font-size: 10px;
    font-weight: 400;
}

.analytics-achievment .analytics{
    background-color: #222222cc;
    backdrop-filter: blur(4px);
    width: 577px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 34px 0;
    padding-bottom: 0px;
    border-radius: 30px;
}

.analytics-achievment .analytics h1{
    align-self: flex-start;
    padding-left: 34px;
    /* padding-left: 34px; */
}


.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.hhP{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 180%;
    /* scale: 1.1; */
    /* border: red solid;   */
}

.area {
    /* border: red solid;   */
    /* scale: 1.1; */
    padding: 5px;
    width: 90%;
    
}

.test{
    font-size: 8px;
    width: 10%;
    /* border: red solid;   */
}   

.yaxis{
    display: none;
}

.select-div{
    align-self: flex-start;
    padding-left: 34px;
    display: flex;
    gap: 10px;
}

.select{
    background: #22222280;
    /* width: 100px; */
    /* height: 25px; */
    color: #B0B0B0;
    outline: none;
    border-radius: 8px;
    padding: 8px 10px;
    border: unset;
    box-shadow: 0px 0px 3px #b0b0b058;
}

.hove{
    background: #767373;
    border: red solid;
}
.add-friend-message .request{
    border: #797979 solid;
    color: #797979;
    background-color: #79797940;
}

.add-friend-message button{
    all: unset;
    outline: none; 
    width: 86px;
    height: 25px;
    background: #797979;
    color: #000000;
    border-radius: 5px;
}
.add-friend-message{
    display: flex;
    gap: 5px;
}

.on{
    background: #62A460;
}

.off{
    background: #A46060;
}

.recharts-default-tooltip {
    all: unset;
    background-color: #00000042 !important;
    backdrop-filter: blur(10px);
    /* border: #ffffff3a solid 1px !important; */
    border: unset !important;
    display: block;
    width: fit-content;
    border: unset;
    border-radius: 10%;
}

.recharts-tooltip-label {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1em;
}

.recharts-tooltip-item {
    font-style: italic;
    font-weight: 500;
}

.name-button{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
    /* border: red solid;   */
}

@media screen and (max-width: 1024px){
    .profile_user{
        gap: 0;
        margin: 0;
    }
    .cover-profile{
        width: 100%;
        max-width: 600px;
        border-radius: clamp(0rem, 4.451vw - 0.974rem, 1.875rem) clamp(0rem, 4.451vw - 0.974rem, 1.875rem) 0 0;
        height: clamp(9.375rem, 4.451vw + 8.401rem, 11.25rem);
    }
    .userinfo{
        border-radius:  0 0 30px 30px;
        width: 100%;
        max-width: 600px;
        padding-top: clamp(5rem, 11.869vw + 2.404rem, 10rem);
        height: fit-content;
    }
    .win-rank-score{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        margin:  34px 0;
    }

    .userinfo::before {
        all: unset;
    }
    .userinfo::after {
        all: unset;
    }
    
    .avatar-profile{
        position: absolute;
        /* border: solid red; */
        top: calc(clamp(9.375rem, 4.451vw + 8.401rem, 11.25rem) - (clamp(6.25rem, 7.418vw + 4.627rem, 9.375rem) / 2));
        width: clamp(6.25rem, 7.418vw + 4.627rem, 9.375rem);
        height: clamp(6.25rem, 7.418vw + 4.627rem, 9.375rem);
        background: black;
        border-radius: 50%;
        /* top: clamp(10rem, -4.451vw + 10.974rem, 8.125rem); */
        z-index: 1;
        overflow: hidden;         
        display: flex;          
        align-items: center;     
        justify-content: center;  
    }

    .avatar-profile img{
        border: #636262 solid;
        width: 100%;
        height: auto;
        align-self: center;
        justify-self: center;
        box-shadow: 0px 0px 40px rgb(189, 189, 189, 0.25);
        border-radius: 100%;
        object-fit: cover;
    }
    .analytics-achievment{
        margin-top: 10px;
        width: 100%;
        max-width: 600px;
        flex-direction: column;
        height: 720px;
    }
    .analytics-achievment .analytics{
        width: 100%;
        height: 350px;
        
    }
    .analytics-achievment .achievment{
        width: 100%;
        height: 350px;
    }
}